.hero {
    margin-bottom: 2rem;
}

.heroContent {
    height: 29rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    color: var(--white);
    position: relative;
}

.tagline {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding-top: 1.5rem;
    margin-left: 10rem;
}

.img {
    background-color: var(--secondary-color);
    width: 30rem;
    height: 23rem;
    border-radius: 1rem;
    margin: 2rem;
    text-align: center;
    margin-right: 10rem;
}

.tagline1 {
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--text-dark);
}

.tagline2 {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-dark);
}

.imgtext {
    border: solid 0.1rem var(--primary-color);
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-dark);
    border-radius: 1rem;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    top: 19rem;
    left: 10rem;
    width: 35rem;
    z-index: 2;
    box-shadow: -0.2rem 0.3rem 1rem rgba(0, 0, 0, 0.2);
}

.butt {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    opacity: 0.6;
}

.butt:hover {
    opacity: 1;
    text-decoration: underline;
}

.main {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
  }

.gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    max-width: 640px;
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, rgb(21, 255, 0) 0px, transparent 50%),
      radial-gradient(at 52% 99%, rgb(0, 238, 255) 0px, transparent 50%),
      radial-gradient(at 10% 29%, rgb(0, 38, 255) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.45;
  }
  