.probonoblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.timeline {
    flex: 2;
}

.image1 {
    flex: 1;
    height: 20rem;
    width: 20rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.image2 {
    flex: 1;
    height: 20rem;
    width: 20rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin-top: 5rem;
}

.image3 {
    flex: 1;
    height: 20rem;
    width: 20rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
}